# Ignore node modules
node_modules/

# Ignore environment variables
.env

# Ignore logs
*.log

# Ignore npm debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional: ignore build folders if you have them
dist/
build/
